.proposal__header {
    text-align: left;
    font-weight: 800;
    font-size: 37px;
    line-height: 50px;
    max-width: 60%;
    box-sizing: border-box;
    padding: 75px 48px 30px 48px;
    margin: 0;
}