.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 18px 48px 18px 48px;
    background-color: rgb(245, 245, 245);
    position: sticky;
    top: 0;
}